*{
  width:100%;
  max-width: 1200px;
  margin:0 auto;
  text-align: center;
  padding: 0;
  color:aliceblue;
  box-sizing: border-box;
  background-color: black;
 }

.navmenu{
  display: flex;
  margin: 0 auto;
}

.ulmenu{
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
}

.Fontemenu{
  display: flex;
  padding: 15px;
  margin: 0 auto;
  justify-content: space-evenly;
  font-size: x-large;
  font-weight: 500;
  text-decoration: none;
  border-top: .7rem solid #C9BB31;
  color:aliceblue;
} 

a:hover{
  color: #C9BB31;
  font-weight: 900;
}

.titulos{
  display: grid;
  justify-content: center;
  margin: 0 auto;
  font-weight: 500;
  font-size: larger;
  margin-bottom: 10px;
  padding:0;
  width: 100%;
  border-bottom: 6px solid #C9BB31;
}

span{
  opacity: 0;
}

#Fotobanda{
  display: block;
  width: 55vw;
  margin: 0 auto;
}

.Release {
  display: flex;
  width: 100%;
  padding:15px;
  margin: 0 auto;
}

.Release p{
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  line-height: 26px;
  font-size: 18px;
  color:aliceblue;
}

.containerfotos{
  width: 30%;
}

.carousel-inner > .carousel-item > img {
  height: 25vw;
}

.Telatotal{
  display: grid;
  height: max-content;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin:0 auto;
}

.Tela{
  margin:0 auto;
  width: 560px;
  height: 315px;
}

.RedesSociais{
  display:inline-flex;
  align-items: center;
  margin: 0 auto;  
  font-size: xx-large;
  font-weight: 500;
  padding: 20px;
  justify-content: center;
  border-bottom: #C9BB31 solid 6px;
}

.RedesSociais label{
  font-size: large;
}

.RedesSociais> a:hover{
  opacity: 40%;
}

@media (min-width: 600px) and (max-width: 1099.98px) {
  .Fontemenu{
    width:100%;
    padding: 15px;
    font-size: 16px;
  } 
  .Release {
    line-height: 20px;
    font-size: 18px;
  }
 
 
.Fotobanda{
  width: 350px;
}

  .Telatotal{
    display: grid;
   }
  .Tela{
    display: grid;
    width: 400px;
    height: 225px;
   } 
}

@media (min-width: 100px) and (max-width: 599.98px){
  .navmenu{
    display: block;
    width: 120px;
  }
  
  .ulmenu{
    display: block;
  }
 
  .Fontemenu{
    display: block;
    padding: 2px;
    font-size: medium;
    border-top: 1px solid #C9BB31;
  }
  .Release {
    display: flex;
    flex-wrap: wrap;
    line-height: 16px;
    font-size: small;
  }
   
  .Telatotal{
    display: grid;
    justify-content: space-around;
  }
  .Tela{
   width: 35vw; 
   height: 10vh;
   }
   .RedesSociais{  
    font-size: large;
    padding: 15px;
  }
  
  .RedesSociais label{
    font-size: smaller;
  }
}