*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.especialBorder{
    border-radius: 18% 82% 20% 80% / 41% 8% 92% 59% 
}
.especialBorder2{
    border-radius:6% 94% 20% 80% / 41% 0% 100% 59% 
}

//FOOTER - RODAPÉ
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer{
    padding: 10px 0;
}

.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 12px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 0 10px 0px 0;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
    transition: all 0.5s ease;
}
.footer-col .medias-socias2 a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 10px 10px 0 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 25px;
}
.footer-col .medias-socias2 a i{
    font-size: 25px;
}

.footer-col .form-sub input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    color:#3b3b3b;
    background-color: #EFC328;
}
.footer-col .form-sub input::placeholder{
    color: #3b3b3b;
    font-weight: bold;
}

/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
    .navegacao{
        font-size: 12px;
        text-weight: 100;
    }
}

