*{
  max-width: 1366px; 
  width:100%; 
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  --main-color: white;
  color:var (--main-color);
  font-family: 'roboto', sans-serif;
  background-color: black;
}

body{
  background-color: black;
}

section{
  display: grid;
  place-items: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
}

.release{
  color: white;
  text-align: center;
}

.rel{
  display: inline-block;
  text-align: center;
  align-self: center;
  font-size: larger;
}

#agendeButton{
  display: inline-block;
  text-align: center;
  align-self: center;
  font-size: x-large;
}

.hidden {
  opacity: 0;
  filter: blur(50px);
  translate: -100% 60%;
  transition: all .2s;
}

.hidden1 {
  opacity: 0;
  filter: blur(60px);
  transform: scale(0);
  transition: all .2s;
}

.hidden2 {
  opacity: 0;
  filter: blur(30px);
  transform: translateX(100%);
  transition: all .2s;
}


.show{
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transform: translateX(0);
  translate: 0;
  transition: 1;
}

.buttonWhats{
  width: 5.1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  animation-name: grow;
  animation-duration: 1.2s;
  animation-iteration-count: 7;

}
@keyframes grow{
  100%{transform: scale(1.2,1.2);}
}

.imageGeo{
  width: 40%;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fade{
  100%{opacity: 0.6;}
}

h5.card-title{
  color:white;
  font-size: medium;
}

.card-text{
  color:white;
  font-size: medium;
}
.text-body-secondary{
  color:white
};  

main .nav-item a:hover{
  font-weight: 900;
  text-shadow: 2px 2px 2px;
  transition: all .5s;
}

.imagens:hover{
  transform: scale(1.1);
}

.imagens_2{
  display:flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-between;
  border: 2px white solid;
  gap: 2rem;
  color:var (--main-color);
}

.imagens_2:hover{
  transform: scale(1.1);
}

.icon{
  transition: all 1s;
  transform: scale(1.5);
}

.icon:hover{
  transition: all 1.5s;
  transform:scale(2.1);
}

.Apoio{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}





